<!--Details Project-->

{% extends 'base/structure.html'%}
{% load staticfiles %}
{% load to_raw %}
{% block maxcdn %}
	<!--maxcdn-->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock %}

{% block facebook %}
<!--comments-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  	var js, fjs = d.getElementsByTagName(s)[0];
  	if (d.getElementById(id)) return;
  	js = d.createElement(s); js.id = id;
  	js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.9&appId=1162353997226233";
  	fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>
{% endblock %}

{% block logo %}
<ul class="nav navbar-nav" >
	<li>
		<a href="{% url 'playcode/index'%}">Inicio</a>
	</li>
</ul>
{% endblock %}
{% block search %}
{% endblock %}

{% block inicio %}

{% if instance %}
<div class="block-content">
	<div class="section-list-novedad">
		<div class="details">
			<p class="p-developer">{{ instance.title }}</p>
			{% if instance.image %}
			<img class="img-dp" src="{{ instance.image|to_raw }}">
			{% else %}
			<img class="img-dp" src="{% static 'imagenes/logo.png'%}">
			{% endif %}
	
			<p class="p-donwload">
				<a class="a-donwload" href="{{ instance.product }}">
					<span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
				</a>
			</p>

			<p class="p-developer">{{ instance.developer|upper }}</p>
			{% if "https" in instanceS.socialFacebook %}
			<a href="{{ instanceS.socialFacebook }}"><img class="img-enl" src="{% static 'iconos/Facebook.png'%}"></a>
			{% else %}
			{% endif %}
			{% if "https" in instanceS.socialTwiter %}
			<a href="{{ instanceS.socialTwiter }}"><img class="img-enl" src="{% static 'iconos/Twitter.png'%}"></a>
			{% else %}
			{% endif %}
			{% if "https" in instanceS.socialYoutube %}
			<a href="{{ instanceS.socialYoutube }}"><img class="img-enl" src="{% static 'iconos/Youtube.png'%}"></a>
			{% else %}
			{% endif %}
			{% if "https" in instanceS.socialLinkedin %}
			<a href="{{ instanceS.socialLinkedin }}"><img class="img-enl" src="{% static 'iconos/Linkedin.png'%}"></a>
			{% else %}
			{% endif %}
			{% if "https" in instanceS.socialGoogle %}
			<a href="{{ instanceS.socialGoogle }}"><img class="img-enl" src="{% static 'iconos/Google.png'%}"></a>
			{% else %}
			{% endif %}
		</div>
	</div>
	<div class="section-list-novedad">
		<div class="details">
			<p class="p-description">{{ instance.description }}</p>
		</div>
	</div>
</div>

<div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="3"></div>
{% else %}
<div class="div_nov">
	<p>Error</p>
</div>
{% endif %}
<div class="space">
</div>
{% endblock %}

{% block maxCDNjQuery%}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
{% endblock %}

{% block botmessenger %}
{% endblock %}
