{% load staticfiles %}
<html><head>
<title>Terms and Conditions of https://playcode.herokuapp.com/ - TermsFeed</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="robots" content="noindex">

<link href="{% static 'css/pdp_tyc.css'%}" rel="stylesheet" type="text/css">

<!--<script async="" src="//www.google-analytics.com/analytics.js"></script><script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-10195353-21', 'termsfeed.com');
ga('send', 'pageview');
</script>-->

</head>
<body class="live-pages">
<div id="wrap">
    
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img style="float: left; margin-top: -20px; width: 80px; height: 80px;" src="{% static 'imagenes/logo.png' %}">
                    <h1>
                       Play;Code Community 
                    </h1>
                </div>
            </div>
        </div>
    </div>
    
    <div class="page-agreement">
    <div class="container">
    <div class="row">
    <div class="col-md-12">
    <div class="page-tabs">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#english" aria-controls="english" role="tab" data-toggle="tab">Ingles</a>
            </li>
            <li role="presentation">
                <a href="#spanish" aria-controls="spanish" role="tab" data-toggle="tab">Español</a>
            </li>
        </ul>
<div class="tab-content">
<div role="tabpanel" class="tab-pane  active " id="english">
                    
<h1> Terms of Service </h1>

<p> The terms of service govern your access and use of the service, such as the website, API. Linked to these terms and information, text, images, files, links and more content. That appear in the services. You agree to be bound by these terms. </p>

<h2> 1ª Content of the services </h2>

<p> At the moment you have our services you are responsible for the use of these. The content that you provide, complying with the applicable laws and rules. You will provide content that you want to share. </p>

<p> The content or material published through these services or any use of them, does so at your own risk. We do not endorse and do not endorse any content or communication published through the Services, nor do we endorse any opinion expressed through the Services. All publication and content is solely responsible for the person who produces it. We do not monitor. </p>

<p> It reserves the right to remove content such as trademarks or copyrights, unlawful conduct, harassment and inappropriate content. That will lead to the cancellation of your account. </p>

<p> If you believe that a content has been copied in a manner that constitutes a copyright infringement, you may notify it by the following means (E-mail playcode123@gmail.com). </p>

<h2> 2ª Use of services </h2>

<p> You can use the services only if you comply with the applicable terms, rules and regulations, you can review the rules of Play; Code. </p>

<p> Our services are constantly evolving, they can change. It will be provided to you and the users in general, in addition to setting storage limits. </p>

<h3> Account </h3>

<p> You can create an account to use some services. You are responsible for the security of your account, so you must use a password. We can not be responsible, nor will we be responsible for any loss derived from your breach of the above conditions. You can control most of the service. </p>

<h3> Cancellation of your account </h3>

<p> You can cancel the account, by means of instructions such as (reason for cancellation), for the suspension of your account. If you believe that your account has been closed by mistake you can notify it by the following means (Email playcode123@gmail.com). </p>

<h2> 3ª General </h2>

<p> By these terms, our relationship with You will govern. In addition, the terms and conditions will be in constant evolution. If for any reason changes are made to the terms for legal reasons, we will inform you 20 days in advance of any change with respect to the terms and that affects the rights of any part of these terms, you will be notified by email associated to your account. By continuing to use the services after those changes have been made, you agree to be bound by the revised terms. </p>

<p> These conditions are an agreement with you and Play; Code, with the street address tauro nº 50, colonia Izcalli Santa Clara, city State of Mexico, municipality or delegation Ecatepec de Morelos, c.p. 55238, in the entity of Mexico, country Mexico, if you have any doubt about these conditions, you can notify it through this means (email playcode123@gmail.com). </p>

</div>

<div role="tabpanel" class="tab-pane " id="spanish">

<h1> Términos de servicio </h1>   

<p> Los términos de servicio, rigen su acceso y el uso del servicio, como es la página web, API. Vinculado a estos términos y la información, texto, imágenes, archivos, enlaces y de más contenido. Que aparecen en los servicios. Usted acepta vincularse con estos términos. </p>

<h2> 1ª Contenido de los servicios </h2>

<p> Al momento de que usted cuente con nuestros servicios es responsable sobre el uso estos. El contenido que usted proporcione, cumpliendo con las leyes y reglas aplicables. Usted proporcionará contenido que desee compartir. </p>

<p> El contenido o material publicación por medio de estos servicios o cualquier uso de ellos, lo hace por su propia cuenta y riesgo. No ratificamos y no apoyamos ningún contenido o comunicación publicada por medio de los Servicios, ni ratificamos ninguna opinión expresada por medio de los Servicios. Toda publicación y contenido es responsable únicamente de la persona que lo produce. No monitorizamos. </p>

<p> Se reserva el derecho a retirar contenido como marcas comerciales o derechos de autor, conducta ilícita, acoso y contenido no apropiado. Que lo llevarán a la cancelación de su cuenta. </p> 

<p> Si cree que un contenido ha sido copiado de forma que constituya a una infracción de los derechos de autor, Usted puede notificarlo por el siguiente medio (Correo electrónico playcode123@gmail.com). </p>

<h2> 2ª Uso de los servicios </h2>

<p> Usted puede usar los servicios solo si cumple los términos, reglas y normas aplicables, puede repasar las reglas de Play;Code. </p>

<p> Nuestros servicios están en constante evolución, pueden cambiar. Se proporcionará a Usted y los usuarios de forma general, además sobre establecer límites de almacenamiento. </p>


<h3> Cuenta </h3>

<p> Puede crear una cuenta para usar algunos servicios, Usted es responsable de la seguridad de su cuenta, por lo que debe usar una contraseña. No podemos ser responsables, ni lo seremos de ninguna pérdida derivado a su incumplimiento de las anteriores condiciones. Usted puede controlar la mayoría de los servicio. </p> 

<h3> Cancelación de su cuenta </h3>

<p> Usted puede cancelar la cuenta, mediante instrucciones como (motivo de cancelación), para la suspensión de su cuenta. Si considera que su cuenta ha sido cerrada por error puede notificarlo por el siguiente medio (Correo electrónico playcode123@gmail.com). </p>

<h2> 3ª General </h2>

<p> Mediante estos términos, regirá nuestra relación con Usted. Además, los términos y condiciones estarán en constante evolución. Si por alguna razón se efectúan cambios en los términos por motivos legales, le informaremos con 20 días de antelación de cualquier cambio con respecto a los términos y que afecte a los derechos de alguna parte de estos términos, se le notificará por medio de correo electrónico asociado a su cuenta. Al continuar utilizando los servicios después de que dichos cambios se hayan realizado, Usted acepta estar sujeto a los términos revisados. </p>

<p> Estas condiciones son un acuerdo con Usted y Play;Code, con la dirección Calle Tauro nº 50, Colonia Izcalli Santa Clara, Estado de México, Municipio Ecatepec de Morelos, C.P. 55238, México. Si tiene alguna duda con sobre estas condiciones, puede notificarlo por medio de este medio (correo electrónico playcode123@gmail.com). </p>  

</div>

<p>02/Abr/2019</p>

</div>
</div> 
</div>
</div>
</div>
</div>
    
    <div class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    Términos y Condiciones de https://playcode.herokuapp.com
                </div>
            </div>
        </div>
    </div>
    
        
</div>

<script type="text/javascript" src="{% static 'javascript/pdp_tyc.js'%}"></script>


</body></html>