{% extends 'base/structure.html' %}
{% load staticfiles %}
{% block encavezado %}
{% endblock %}

{% block inicio %}
<div class="pass_done">
	<img class="pass_done_img" src="{% static 'imagenes/logo.png'%}">
	<p class="pass_done_name">PLAY;CODE</p>
</div>
<div class="pass_done">
	<p class="pass_done_txt">Te enviamos un Correo</p>
	<p class="pass_done_txt">Gracias por formar parte de esta comunidad amigo/a</p>
</div>	
{% endblock %}

{% block piepagina %}
{% endblock %}

{% block botmessenger %}
{% endblock %}
