

.mozaico-fixed{
	margin-top: 8%; 
	background: url('../imagenes/portada.jpg') no-repeat center center fixed;
	background-size: cover;
	width: 100%;
	height: 400px;
}

.mozaico-space{
	padding: 200px;
	width: 100%;
	height: auto;
}


/* contents */
.fixed-contents{
	margin-top: 2%;
	width: 100%;
	height: 90px;
	text-align: center;
}

.block-content{
	margin-top: 5%;
	width: 100%;
	height: auto;
}

.content-footer{
	margin-top: 29px;
	width: 45%;
	float: left;
	text-align: center;
}

.border-img-footer {
	margin-left: -32px;
	margin-top: 6px;
	background-color: white;
    border-radius: 30px;
    width: 55px;
    height: 55px;
}

.center-contents{
	margin-left: 35%;
}

/*navbar menu*/
.navbar-nav{
	margin-top: 8px;
}

.navbar-header{
	height: 10px;
}

.center-contents .row{
	margin-right: 0px;
}

.navbar-form .form-group {
	margin-left: -168px;
}

/* seccion */

.section-list-novedad{
	width: 50%;
	height: auto;
	float: left;
	text-align: center;
}

.content_specials{
	margin-top: 10%;
	text-align: center;
	width: 100%;
	height: auto;
}

.div-com{
	width: auto;
	height: auto;
	text-align: center;
}




/* footer */


.pie {
	margin-top: 15%;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

.color-footer {
	position: absolute; 
	width: 100%; height: 202px; 
	background-color: black; 
	margin-left: -64px;
}

.sociales {
	margin-top: 15%;
	float: right;
	margin-right: 15%;
}

.footer-politic{
	position: absolute;
    margin-left: 35%;
    margin-top: 3%;
    text-decoration: none;
    font-size: 16px;
}




/* forms */


.titles-forms{
	margin-top: 4%;
	width: 100%;
	text-align: center;
	font-size: 80px;
}

/* block alerts */

.div-alert{
	margin-top: 5%;
	width: 50%;
	text-align: center;
	font-size: 20px;
}


/* materialize */
.file-field input.file-path{
	width: 48%;
}

.collapsible {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    margin: .5rem 0 1rem 0;
    width: 50%;
}

/* ------------- */



/* buttons */

.button-li {
	/*margin-top: 4%;*/
	width: 100%;
	text-align: center;
	font-size: 20px;
}

.fixed-button{
	background: #F1681F;
	border-radius: 10px;
	border: none;
	margin-top: 2%;
	text-decoration: none;
	padding: 2%;
	transition: 0.5s;
}

.fixed-button a{
	font-family: arial-black;
	font-size: 30px;
	color: #fff;
}

.fixed-button:hover{
	margin-top: -2px;
	box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.75);
	transition: 0.5s;
}

.content-btn-forms{
	width: 100%;
	text-align: center;
}

.btn-forms{
	padding: 10px;
	background-color: #31FB6D;
	color: #fff;
	border: none;
	font-family: arial;
	font-size: 20px;
	border-radius: 10px;
	transition: 0.5s;
}

.btn-forms:hover{
	box-shadow: 2px 2px 2px rgba(0,0,0,0.65);
	transition: 0.5s;
}

.content-enl-forms-left{
	float: left;
}
.content-enl-forms-right{
	float: right;
}

.enl-a{
	font-family: arial-black;
	font-size: 15px;
	color: #000;
	transition: 0.7s;
}

.enl-a:hover{
	text-decoration: none;
	color: #1ACCAB;
	transition: 0.7s;
}

.publishers {
    width: 40%;
    height: 50%;
    text-align: center;
    margin-top: 10%;
}

.processbuttonfacebook .bar1{
	background-color: #333;
  	margin: 6px 0;
  	transition: 0.4s;
	visibility: visible;
	-webkit-transform: rotate(-45deg) translate(-2px, 3px);
  	transform: rotate(-45deg) translate(-2px, 3px);
}

.processbuttonfacebook .bar2{
  	background-color: #333;
  	margin: 6px 0;
  	transition: 0.4s;
	visibility: visible;
	-webkit-transform: rotate(45deg) translate(-4px, -6px);
  	transform: rotate(45deg) translate(-4px, -6px);
}

.processbuttonfacebook .iconbuttonfacebook{
	visibility: hidden;
}

.processbuttontwitter .bar1{
	background-color: #333;
  	margin: 6px 0;
  	transition: 0.4s;
	visibility: visible;
	-webkit-transform: rotate(-45deg) translate(-2px, 3px);
  	transform: rotate(-45deg) translate(-2px, 3px);
}

.processbuttontwitter .bar2{
  	background-color: #333;
  	margin: 6px 0;
  	transition: 0.4s;
	visibility: visible;
	-webkit-transform: rotate(45deg) translate(-4px, -6px);
  	transform: rotate(45deg) translate(-4px, -6px);
}

.processbuttontwitter .iconbuttontwitter{
	visibility: hidden;
}

.processbuttongoogle .bar1{
	background-color: #333;
  	margin: 6px 0;
  	transition: 0.4s;
	visibility: visible;
	-webkit-transform: rotate(-45deg) translate(-2px, 3px);
  	transform: rotate(-45deg) translate(-2px, 3px);
}

.processbuttongoogle .bar2{
  	background-color: #333;
  	margin: 6px 0;
  	transition: 0.4s;
	visibility: visible;
	-webkit-transform: rotate(45deg) translate(-4px, -6px);
  	transform: rotate(45deg) translate(-4px, -6px);
}

.processbuttongoogle .iconbuttongoogle{
	visibility: hidden;
}

.processbuttonyoutube .bar1{
	background-color: #333;
  	margin: 6px 0;
  	transition: 0.4s;
	visibility: visible;
	-webkit-transform: rotate(-45deg) translate(-2px, 3px);
  	transform: rotate(-45deg) translate(-2px, 3px);
}

.processbuttonyoutube .bar2{
  	background-color: #333;
  	margin: 6px 0;
  	transition: 0.4s;
	visibility: visible;
	-webkit-transform: rotate(45deg) translate(-4px, -6px);
  	transform: rotate(45deg) translate(-4px, -6px);
}

.processbuttonyoutube .iconbuttonyoutube{
	visibility: hidden;
}

.processbuttonlinkedin .bar1{
	background-color: #333;
  	margin: 6px 0;
  	transition: 0.4s;
	visibility: visible;
	-webkit-transform: rotate(-45deg) translate(-2px, 3px);
  	transform: rotate(-45deg) translate(-2px, 3px);
}

.processbuttonlinkedin .bar2{
  	background-color: #333;
  	margin: 6px 0;
  	transition: 0.4s;
	visibility: visible;
	-webkit-transform: rotate(45deg) translate(-4px, -6px);
  	transform: rotate(45deg) translate(-4px, -6px);
}

.processbuttonlinkedin .iconbuttonlinkedin{
	visibility: hidden;
}



/* button reveal */

.btn-small{
	margin-left: 90%;
	margin-top: -33%;
}


/* p */
.fixed-p{
	font-size: 20px;
	color: #FE8420;
}

.p-novedad{
	font-family: fantasy;
	font-size: 40px;

}

.p-des{
	font-family: arial black;
	font-size: 10px;
	text-align: center;
}

.div_nov{
	margin-top: 10%;
	width:100%;
	height: auto;
	font-size: 40px;
	text-align: center;
	font-family: arial;
}

/* a */
.a-index{
	font-size: 20px;
	margin-top: -8px;
}

.a-infofile{
	font-size: 34px;
}

/* field's */
.file-field input[type=file] {
    width: 50%;
}



/* table */

table{
	width: 80%;
	text-align: center;
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
}

td{
	padding-top: 1.5%;
	width: 25%;
	height: auto;
}

/* table details*/
img{
	border-radius: 5%;
	margin-bottom: 10px;
}

.a-des{
	text-decoration: none;
}

.btn-des{
	width: 100%;
	font-size: 40px;
}

.btn-p-des{
	color: #fff;
	font-family: arial;
	font-size: 20px;
}

/* details */

.details{
	text-align: center;
}

.details .p-donwload{
	font-size: 40px;
	width: 100%;
	height: auto;
}

.details .a-donwload{
	text-decoration: none;
}

.details .p-developer{
	font-size: 20px;
	font-family: fantasy;
	margin-top: 15px;
}

.details .p-user{
	font-size: 20px;
	font-family: fantasy;
	margin-top: 15px;
}

.details .p-description{
	width: 90%;
	font-size: 15px;
	font-family: arial;
	text-align: justify;

}


/* spaces */

.space{
	width: 100%;
	height: auto;
	display: inline-block;
}

.pagination{
	width: 20%;
	margin-left: 40%;
	margin-right: 40%;
	height: auto;
	margin-top: 10%;
	text-align: center;
}

.page{
	font-size: 20px;
}

.spaceshowimage{
	width: 100%
	height: auto;
	margin-left: -40%;
}

.spaceiconbutton{
	width: auto;
    height: auto;
    display: contents;
}


.iconbutton{
	float: left;
    margin-left: 36px;
}

.spacebar{
	float: inherit;
}

.spaceicon{
	float: inherit;
}

.spacecontenturlsociales{
	margin-top: 95px;
}




/* imagens */
.img-logo{
	max-width: 60px;
}

.head-page{
	float: right;
	padding-right: 40px;
}


.img-pt{
	max-width: 180px;
	max-height: 180px;
}

.img-dp{
	max-height: 350px;
	max-width: 350px;
	margin-left: 10px;
}

.img-enl{
	max-width: 20px;
}

.img-footer{
	max-width: 270px;
}

.img-footer-icon{
	max-width: 59px;
    margin-top: 8px;
    margin-left: -2px;
}

.showimage{
	max-width: 300px;
	max-height: 500px;
	margin-left: 36%;
}

/* perfil */

.content_perfil{
	width: auto;
    margin-left: 15%;
	margin-right: 20%;
	height: auto;
	text-align: center;
	margin-top: 10%;

}
.content_button{
	width: 100%;
	height: auto;
	text-align: center;
	margin-top: 60px;

}
.seccion_dates{
	margin-left:60px;
	float:left;
}

.first_dates{
	text-align: center;
	font-size: 20px;
	font-family: arial-black;
}

.dates{
	text-align: center;
	font-size: 15px;
	font-family: arial-black;
}

.iconbuttonfacebook{
	width: 25px;
    height: 25px;
    background: url(../iconos/Facebook.png) no-repeat center;
    background-size: contain;
}

.iconbuttontwitter{
	width: 25px;
    height: 25px;
    background: url(../iconos/Twitter.png) no-repeat center;
    background-size: contain;
}

.iconbuttongoogle{
	width: 25px;
    height: 25px;
    background: url(../iconos/Google.png) no-repeat center;
    background-size: contain;
}

.iconbuttonyoutube{
	width: 25px;
    height: 25px;
    background: url(../iconos/Youtube.png) no-repeat center;
    background-size: contain;
}

.iconbuttonlinkedin{
	width: 25px;
    height: 25px;
    background: url(../iconos/Linkedin.png) no-repeat center;
    background-size: contain;
}





/*bars seccion*/
.bar1, .bar2 {
	visibility: hidden;
  	width: 25px;
  	height: 5px;
}

/* seccion recover user*/
.pass_done{
	width: 100%;
	height: auto;
	text-align:center;
}

.pass_done_img{
	max-width: 300px;
}

.pass_done_name{
	font-size: 40px;
	font-family: arial-black;
}

.pass_done_txt{
	font-size: 20px;
	font-family: arial;
}



/* HTTP 404 */

.ul-404{
	list-style-type: none;
	font-size: 40px;
	margin-left: 80px;
	margin-top: -80px;
}

/* Image Error 404 */
.p-space-404{
	margin-top: 70px;
	width: 100%;
}

.p-404{
	font-size: 30px;
	font-family: impact;
	text-align: center;
}

.p-404-image{
	text-align: center;
	margin-top: -10px;
}

.img-404{
	width: 500px;
	height: 500px;
	border: 20px;
	
}





/* Responsive*/
/*2559px*/
@media screen and (max-width: 2560px) and (min-width: 1441px) {
	

	/* images */

	.img-logo{
	max-width: 188px;
	margin-top: -44px;
	}

	.img-footer {
    max-width: 570px;
	}

	.img-footer-icon {
    max-width: 100px;
	}

	.pass_done_img {
    max-width: 550px;
	}

	.showimage {
    	max-width: 500px;
    	max-height: 600px;
	}

	.iconbuttonfacebook {
    	width: 74px;
    	height: 57px;
    }

    .iconbuttontwitter{
    	width: 74px;
    	height: 57px;
    }

    .iconbuttongoogle{
    	width: 74px;
    	height: 57px;
    }

    .iconbuttonyoutube{
    	width: 74px;
    	height: 57px;
    }

    .iconbuttonlinkedin{
    	width: 74px;
    	height: 57px;
    }

    .bar1, .bar2 {
    	width: 75px;
    	height: 10px;
	}

	.processbuttonfacebook .bar1 {
    	transform: rotate(-45deg) translate(-7px, 5px);
	}

	.processbuttontwitter .bar1 {
    	transform: rotate(-45deg) translate(-7px, 5px);
	}

	.processbuttongoogle .bar1 {
    	transform: rotate(-45deg) translate(-7px, 5px);
	}

	.processbuttonyoutube .bar1 {
    	transform: rotate(-45deg) translate(-7px, 5px);
	}

	.processbuttonlinkedin .bar1 {
    	transform: rotate(-45deg) translate(-7px, 5px);
	}

	.img-dp {
    	width: 70%;
    	height: 50%;
    	max-height: 70%;
    	max-width: 70%;
	}

	.img-enl {
    	max-width: 38px;
	}
	
	/*head*/

	.head-page {
    float: right;
    font-size: 35px;
    margin-top: 10px;
    padding-right: 40px;
	}

	.navbar-collapse .navbar-nav {
    font-size: 35px;
    margin-left: 50px;
    margin-top: 69px; 
	}

	.navbar-form .form-control {
    font-size: 45px;
    height: 50px;
    margin-top: 50px;
	}
	
	.navbar-default {
    height: 191px;
	}

	.navbar-form .form-group{
		margin-left: 0%;
	}

	/* dropdown-menu */

	.open>.dropdown-menu{
		font-size: 33px;
	}

	.dropdown-menu-name-user{
	    margin-left: 50px;
	}
	/* mozaicos */

	.mozaico-fixed {
    width: 100%;
    height: 600px;
	}

	.mozaico-space {
    padding: 200px;
	}

	/* contents */
	.fixed-contents {
    margin-top: 5%;
	}

	.center-contents {
    margin-left: 35%;
    margin-right: 5%;
	}

	.content-enl-forms-left {
    margin-left: 20px;
	}

	.content-enl-forms-right {
    margin-right: -40px;
	}

	.content_perfil {
    margin-left: 19%;
	}

	.iconbutton {
    	margin-left: 55px;
	}

	.waves-effect{
		margin-left: 91%;
	}

	.spacecontenturlsociales {
    	margin-top: 154px;
	}

	.publishers {
    	width: 40%;
    	height: 50%;
    	text-align: center;
    	margin-top: 10%;
	}

	/*Section Dates*/
	.seccion_dates{
	margin-left: 168px;
	}

	.content_button {
    margin-top: 150px;
	}

	/* div´s */
	.div_nov {
    font-size: 70px;
	}


	/* buttons and field input*/
	.fixed-button a {
    font-size: 50px;
	}

	.navbar-form .btn-default{
    font-size: 35px;
    margin-top: 50px;
	}

	.row .btn{
		font-size: 30px;
	}

	.btn-forms{
		font-size: 50px;
	}

	/* button reveal */

	.btn-small{
		margin-left: 97%;
		margin-top: -15%;
	}

	/*button delete*/
	.publishers .btn-delete{
		font-size: 3rem;
		height: 86px;
    	line-height: 86px;
	}

	/* a */
	.a-index{
	font-size: 40px;
	margin-top: 50px;
	margin-left: 50px;
	}

	.enl-a{
	font-size: 30px;
	}

	.a-dropdown{
	width: 100%;
	font-size: 40px;
	margin-right: 60px;
	}

	.content_button .waves-effect{
    font-size: 30px;
    margin-top: 30px;
	}

	/*menu dropdown menu*/
	.dropdown-menu>li>a{
	font-size: 32px;
	}

	/*navar header*/
	.navbar-nav>li>a {
	font-size: 50px;
	}

	.navbar-nav{
    margin-top: -28px;
	}
	
	.navbar-header{
	margin-top: 44px;
	}

	.navbar-index{
	margin-top: 49px;
	}

	/* p */

	.fixed-p {
    font-size: 40px;
	}

	.p-novedad {
    font-size: 100px;
	}

	.first_dates {
    font-size: 40px;
	}

	.dates {
    font-size: 30px;
	}

	.pass_done_name {
    font-size: 60px;
	}

	.pass_done_txt {
    font-size: 40px;
	}

	.details .p-developer {
    	font-size: 37px;
	}

	/*Seccion Comunity*/
	/*Title / Description*/
	.p-des {
	font-size: 29px;
	}
	/*image*/
	.img-pt {
	max-width: 230px;
    max-height: 260px;
	}

	/* you community*/
	/*title*/
	.details .p-user{
    font-size: 40px;
   	}
   	/*Details*/
   	.details .p-description{
	font-size: 35px;
   	} 

   	/*Error Session*/
	.errorSession{
		font-size: 29px;
    	font-family: arial black;
	}
	/* ul */
	.collapsible{
	font-size: 30px; 
	}

	/* icon */

	.button-li .glyphicon {
    font-size: 40px;
	}

	.titles-forms .glyphicon-upload{
	font-size: 200px;
	}

	.titles-forms .glyphicon-user{
	font-size: 200px;
	}

	.collapsible-header .glyphicon-globe{
    font-size: 30px;
	}

	.titles-forms .glyphicon-king{
	font-size: 200px;
	}

	/* field's div */

	.collapsible-header{
	margin-top: 30px;
	height: 80px; 
	}

	/* field`s */
	
	.file-field{
	font-size: 30px;
	}

	.file-field input[type=file] {
    width: 50%;
	}

	.row {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 80px;
	}

	.collapsible-body .input-field{
	margin-top: 50px;
	}
	
	/* field input*/
	.row input{
		font-size: 30px;
		margin-left: 30px;
		height: 50px;
	}

	.collapsible-body .input-field input{
	font-size: 30px;
	}

	/* field textarea's */
	.row textarea{
		font-size: 30px;
		margin-left: 20px;
	}

	/* field label's */

	.input-field label:not(.label-icon).active {
    font-size: 30px;
	}

	.input-field label{
	font-size: 30px;
	margin-left: 30px;
	margin-top: -15px;
	}
	
	/*footer*/

	.color-footer{
		width: 100%;
    	height: 360px;
		margin-left: -128px;
	}

	.footer-politic{
		font-size: 25px;
	}

	.border-img-footer{
	    width: 96px;
    	height: 80px;
	}
} 




/*1440px*/
@media screen and (max-width: 1440px) and (min-width: 1025px){

	/* head */
	.navbar-form .form-control {
		margin-left: 150px;
    	font-size: 20px;
	}

	.navbar-nav{
		font-size: 21px;
    	margin-top: 0px;
	}

	.navbar-default{
		height: 80px;
	}

	.navbar-nav-up{
		margin-top: 15px;
	}

	.navbar-index{
		margin-top: -17px;
	}

	.img-logo{
		max-width: 80px;
    	margin-top: -2px;
	}
	
	/* contents */
	.center-contents {
    margin-left: 35%;
    margin-right: 5%;
	}

	.content_perfil {
    margin-left: 25%;
	}

	.content-enl-forms-left {
    margin-left: 20px;
	}

	.content-enl-forms-right {
    margin-right: -30px;
	}

	.iconbutton {
    	margin-left: 10%;;
	}

	.waves-effect{
		margin-left: 84%;
	}

	.publishers {
    	width: 44%;
    	height: 50%;
    	text-align: center;
    	margin-top: 10%;
	}


	/*Navbar*/
	.navbar-form .form-group{
		margin-left: -9%;
	}

	.navbar-left {
    	margin-left: -7%;
	}

	/* a */
	.a-index{
	font-size: 20px;
	margin-left: 10px;
	}

	.dropdown-menu-name-user{
		margin-left: 10px;
	}

	/*p*/
	.p-des{
		font-size: 15px;
	}

	.errorSession{
		font-size: 17px;
    	font-family: arial black;
    	padding-bottom: 32px;
	}

	/*image*/
	.img-pt{
		max-width: 200px;
    	max-height: 220px;
	}

	/* buttons and field input */

	.row .btn{
		font-size: 20px;
	}

	.btn-forms {
    	font-size: 30px;
	}

	.btn-small{
		margin-left: 99%;
		margin-top: -25%;
	}

	/* field's div */

	.collapsible-header{
	margin-top: 10px;
	height: 30px; 
	}

	/* field`s */
	
	.file-field{
	font-size: 20px;
	}

	.file-field input[type=file] {
    width: 40%;
	}

	.row {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 10px;
	}

	.collapsible-body .input-field{
	margin-top: 50px;
	}
	
	/* field input*/
	.row input{
		font-size: 20px;
		margin-left: 30px;
		height: 50px;
	}

	.collapsible-body .input-field input{
	font-size: 20px;
	}

	/* field textarea's */
	.row textarea{
		font-size: 20px;
		margin-left: 25px;
	}

	/* field label's */

	.input-field label:not(.label-icon).active {
    font-size: 20px;
	}

	.input-field label{
	font-size: 20px;
	margin-left: 30px;
	margin-top: -10px;
	}

	/*footer*/

	.color-footer{
		width: 100%;
    	height: 212px;
		margin-left: -72px;
	}

	.footer-politic{
		font-size: 16px;
	}

	.border-img-footer{
		width: 57px;
    	height: 57px;
	}
}


/*1024*/
@media screen and (max-width: 1024px) and (min-width: 769px){
	
	/*Navbar*/
	.navbar-form .form-group{
		margin-left: -12px;
	}

	.navbar-nav {
    	margin-top: 0px;
	}

	/*contents*/
	.iconbutton {
    	margin-left: 26px;
	}

	.spacecontenturlsociales {
    	margin-top: 66px;
	}

	.waves-effect {
    	margin-left: 85%;
	}

	.publishers {
    	width: 40%;
    	height: 50%;
    	text-align: center;
    	margin-top: 10%;
	}

	/*Header*/
	/*image*/
	.img-logo{
    	margin-top: 0px;
	}

	.showimage {
    	margin-left: 32%;
	}

	/*p*/
	.errorSession{
		font-family: arial black;
		font-size: 12px;
	}

	.navbar-form .form-group {
		margin-left: 12px;
	}
	
	/*footer*/
	.color-footer{
		width: 100%;
    	height: 202px;
		margin-left: -51px;
	}

	.footer-politic{
		font-size: 16px;
		margin-left: 37%;
	}

	.border-img-footer{
		width: 55px;
    	height: 55px;
	}
}

@media screen and (max-width: 768px) and (min-width: 426px){

	/* content */
	.content-footer {
    width: 45%;
    float: left;
    text-align: center;
    margin-left: 30px;
	}

	.content_perfil {
    width: auto;
    margin-left: 3%;
    margin-right: 10%;
	}

	.waves-effect{
		margin-left: 78%;
	}

	.iconbutton {
    	margin-left: 12px;
	}

	.spacecontenturlsociales {
    	margin-top: 59px;
	}

	.publishers {
    	width: 40%;
    	height: 50%;
    	text-align: center;
    	margin-top: 10%;
	}

	/* ul */
	.navbar-nav>li>.dropdown-menu {
    font-size: 10px;
    margin-left: -77px;
	}

	.navbar-form .form-control {
    max-width: 150px;
	}
	
	.navbar-collapse .navbar-nav {
    font-size: 10px;
	}

	.btn-small{
		margin-left: 85%;
		margin-top: -40%;
	}

	/* p */
	.enl-a {
    font-size: 10px;
	}

	/*dropdown menu*/
	.navbar-nav>li>.dropdown-menu-name-user{
		margin-left: 0%;
	}

	.navbar-form .form-group {
		margin-left: -4px;
	}

	.navbar-nav {
    	margin-top: 0px;
	}

	/*images*/
	.img-footer {
    	max-width: 213px;
	}

	.showimage {
    	margin-left: 28%;
	}

	/*footer*/
	.content-footer {
    	margin-left: 19px;
    }

	.color-footer{
		width: 100%;
    	height: 159px;
    	margin-left: -38px;
	}

	.footer-politic{
		margin-left: 42%;
    	margin-top: 4%;
    	font-size: 12px;
	}

	.sociales {
    	margin-right: 13%;
    }

    .img-footer-icon {
    	max-width: 46px;
    }

	.border-img-footer{
		width: 43px;
    	height: 43px;
	}
}

@media screen and (max-width: 425px) and (min-width: 376px){
	
	/* head */
	form {
    text-align: -webkit-center;
	}

	/* nav */
	.head-page {
    float: none;
	}

	.details-collapse{
		float: left;
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		margin-top: 44px;
		width: inherit;
	}

	/* mozaico */
	.mozaico-fixed {
    height: 200px;
	}

	.mozaico-space {
    padding: 40px;
    width: 100%;
    height: auto;
	}


	/* contents */
	.fixed-contents {
    margin-top: 20px;
    height: 50px;
	}

	.center-contents {
    margin-left: 20%;
	}

	.content-enl-forms-left {
    margin-left: -30px;
	}

	.content-enl-forms-right {
    margin-right: -80px;
	}

	.iconbutton {
    	margin-left: 18px;
	}

	.spacecontenturlsociales {
    	margin-top: 64px;
	}

	.publishers {
    	width: 100%;
    	height: 50%;
    	text-align: -webkit-auto;
    	margin-top: 10%;
	}

	/*Navbar*/
	.navbar-form .form-group{
		width: 12%;
	}


	/* images */
	.img-logo {
    	margin-left: 20px;
        max-width: 51px;
	}

	.img-footer {
    max-width: 120px;
	}

	.img-footer-icon {
    max-width: 20px;
	}

	.showimage {
    	margin-left: 16%;
	}


	/* a */
	.fixed-button a {
    font-family: arial-black;
    font-size: 20px;
    color: #fff;
	}

	.a-index{
		margin-left: 10px;
	}

	.navbar-default .navbar-nav>li>a {
    	float: left;
    	margin-left: 10px;
	}

	.content_button .waves-effect {
    font-size: 10px;
	}

	.enl-a {
    font-size: 10px;
	}

	.waves-effect{
		margin-left: -64px;
	}


	/* p */
	.fixed-p {
    font-size: 15px;
	}

	.p-novedad {
    font-size: 20px;
	}

	.first_dates {
    font-size: 10px;
	}

	.dates {
    font-size: 8px;
	}

	.section-list-novedad{
		width: 100%;
	}

	.details .p-description{
		width: 90%;
    	margin-left: 5%;
	}

	/* seccion */
	.seccion_dates {
    margin-left: 10px;
	}

	/* row */
	.row{
    margin-right: 0px;
    margin-left: -20px;
    width: 100%
	}

	.row .col.s6 {
    	width: 53%;
    }

    .row .col.s6 .content-btn-forms {
    	margin-left: 44px;
	}

	/* field's */
	.file-field input.file-path {
    width: 75%;
    margin-left: -107px;
	}

	.file-field input[type=file] {
    width: 70%;
	}

	.input-field.col label {
    margin-left: -10px;
    margin-top: -10px;
	}

	textarea.materialize-textarea {
    margin-left: -10px;
    width: 250px;
	}

	input[type=text]{
	margin-left: -10px;
    width: 250px;
	}

	input[type=password]{
	margin-left: -10px;
    width: 250px;
	}

	input[type=email]{
	margin-left: -10px;
    width: 250px;
	}

	/* ul */
	.collapsible {
    width: 85%;
    margin-left: -85px;
	}

	ul:not(.browser-default) {
    margin-right: 10px;
	}

	/* button */
	.content-btn-forms {
    margin-left: 17px;
	}

	.btn-small{
		margin-top: -65%;
		margin-right: -179%;
	}

	.waves-effect{
		margin-left: 36%;
	}


	/* nav */
	.navbar-nav {
    margin-right: 15px;
	}

	.navbar-nav .open .dropdown-menu {
    	margin-right: -15px;
    	float: left;
		width: 100%;
	}

	/*content footer*/
	.content-footer{
		margin-left: 13px;
	}

	.color-footer {
    	width: 100%;
    	height: 119px;
    	margin-left: -21px;
	}

	.footer-politic {
    	margin-left: 41%;
    	margin-top: 7%;
    	font-size: 8px;
	}

	.border-img-footer {
    	width: 25px;
    	height: 25px;
	}
}




@media screen and (max-width: 375px) and (min-width: 321px){
	
	/* head */
	form {
    text-align: -webkit-center;
	}

	/* nav */
	.head-page {
    float: none;
    margin-left: 40px;
	}

	.navbar-nav {
		width: 100%;
	}

	/* mozaico */
	.mozaico-fixed {
    height: 200px;
	}

	.mozaico-space {
    padding: 40px;
    width: 100%;
    height: auto;
	}


	/* contents */
	.fixed-contents {
    margin-top: 20px;
    height: 50px;
	}

	.center-contents {
    margin-left: 18%;
	}

	.content-enl-forms-left {
    margin-left: -10px;
	}

	.content-enl-forms-right {
    margin-right: -100px;
	}

	.content_perfil {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
	}

	.file-field input.file-path {
    	width: 79%;
	}

	.row .col.s6 {
    	width: 93%;
	}

	.navbar-form .form-group{
		width: 19%;
	}

	.spacecontenturlsociales {
    	margin-top: 55px;
	}

	.iconbutton {
    	margin-left: 16px;
	}

	.collapsible {
		margin-left: -19%;
		width: 81%;
	}

	.publishers {
    	width: 100%;
    	height: 50%;
    	text-align: -webkit-auto;
    	margin-top: 10%;
	}

	/*seccion*/
	.section-list-novedad {
    	width: 100%;
    	height: auto;
    	float: none;
    	text-align: center;
	}


	/* images */
	.img-logo {
    	max-width: 50px;
    	margin-left: 7px;
	}

	.img-footer {
    	max-width: 120px;
	}

	.img-footer-icon {
    	max-width: 18px;
    	margin-top: 5px;
    	margin-left: 0px;
	}

	.img-dp {
    	margin-left: 0px;
	}

	.showimage {
    	margin-left: 20%;
	}


	/* a */
	.fixed-button a {
    	font-family: arial-black;
    	font-size: 20px;
    	color: #fff;
	}

	.a-index{
		margin-left: 10px;
	}

	.navbar-default .navbar-nav>li>a {
    	float: left;
    	font-size: 11px;
	}

	.content_button .waves-effect {
    	font-size: 10px;
	}

	.enl-a {
    	font-size: 10px;
	}

	.waves-effect{
		margin-left: -70px;
	}


	/* p */
	.fixed-p {
    	font-size: 15px;
	}

	.p-novedad {
    	font-size: 20px;
	}

	.first_dates {
    	font-size: 10px;
	}

	.dates {
    	font-size: 8px;
	}

	/* seccion */
	.seccion_dates {
    	margin-left: 20px;
	}

	.details .p-description{
		margin-left: 5%;
	}

	.details .p-description{
		margin-left: 5%;
	}

	/* row */
	.row{
    	margin-right: 0px;
    	margin-left: -20px;
    	width: 100%
	}

	.row .col.s6 {
    	width: 53%;
    }

    .row .col.s6 .content-btn-forms {
    	margin-left: 44px;
	}

	/* field's */

	.file-field .file-path-wrapper {
    	margin-left: -80px;
	}
	.file-field input[type=file] {
    	width: 70%;
	}

	.file-field input.file-path {
    	width: 80%;
    	margin-left: 2px;
	}

	.input-field.col label {
    	margin-left: -10px;
    	margin-top: -10px;
	}

	textarea.materialize-textarea {
    	margin-left: -10px;
    	width: 250px;
	}

	input[type=text]{
		margin-left: -10px;
    	width: 250px;
	}

	input[type=password]{
		margin-left: -10px;
    	width: 250px;
	}

	input[type=email]{
		margin-left: -10px;
    	width: 250px;
	}

	/* ul */
	.collapsible {
    	width: 90%;
    	margin-left: -65px;
	}

	ul:not(.browser-default) {
    	margin-right: 10px;
	}

	/* button */
	.content-btn-forms {
    	margin-left: 18px;
	}

	.content-footer {
    	width: 50%;
	}

	.btn-small{
		margin-top: -70%;
		margin-right: -217%;
	}

	.waves-effect{
		margin-left: 32%;
	}

	/* nav */
	.navbar-nav {
    	margin-right: 15px;
	}

	.navbar-nav .open .dropdown-menu {
    	margin-right: -15px;
    	float: left;
    	width: 100%;
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    	margin-top: 44px;
	}

	/*footer*/

	.color-footer {
    	width: 100%;
    	height: 119px;
    	margin-left: -19px;
	}

	.footer-politic {
    	margin-left: 43%;
    	margin-top: 7%;
    	font-size: 8px;
	}

	.sociales {
    	margin-top: 20%;
	}

	.border-img-footer {
    	width: 21px;
    	height: 21px;
	}
}




@media screen and (max-width: 320px) {

	/*Mozaico*/
	.mozaico-space {
    	padding: 160px;
	}

	.mozaico-fixed {
    	height: 200px;
	}

	/*navbar*/
	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		margin-top: 15%;
	}

	.navbar-nav{
		width: 100%;
		margin-left: -1%;
	}

	.navbar-form .form-group {
    	margin-left: 0px;
	}

	.navbar-default .navbar-nav>li>a{
		float: left;
		width: 21%;
	}

	.navbar-nav .open .dropdown-menu {
    	margin-right: -15px;
    	float: left;
    	width: 100%;
	}

	.nav>li {
    	width: 22%
	}

	/*head*/
	.head-page {
	    float: left;
	}
	
	/*images*/
	.img-logo {
    	max-width: 51px;
    	margin-left: 3%;
	}

	.img-dp {
    	max-height: 186px;
    	margin-left: -1px;
	}

	.img-footer {
    	max-width: 130px;
	}

	.img-footer-icon {
    	max-width: 28px;
    	margin-top: 5px;
	}

	.showimage {
    	max-width: 200px;
    	max-height: 400px;
	}

	/*text*/
	.details .p-description {
    	margin-left: 5%;
	}

	.first_dates {	
    	font-size: 11px;
	}

	.dates {
    	font-size: 9px;
	}

	.a-index{
		font-size: 12px;
		margin-left: 12px;
	}

	.input-field >input[type=text]{
		width: 173%;
	}

	.input-field >input[type=password]{
		width: 173%;
	}

	.input-field >input[type=email]{
		width: 173%;
	}

	.input-field >textarea{
		width: 173%;
	}

	.input-field.col label{
		font-size: 10px;
	}

	.enl-a {
    	font-size: 9px;
	}


	/*sections*/
	.section-list-novedad {
    	width: 100%;
    	height: auto;
    	float: none;
    	text-align: center;
	}

	.seccion_dates {
    	text-align: center;
    	margin-top: 14%;
    	float: none;
	}

	/*contents*/
	.content_perfil {
    	margin-left: 0%;
	}

	.center-contents {
    	margin-left: 20%;
	}

	.collapsible{
		width: 77%;
	}

	.collapsible-header{
		font-size: 85%;
	}

	.spacecontenturlsociales {
    	margin-top: 37px;
	}

	.content-enl-forms-left {
    	float: left;
    	margin-left: -22%;
	}

	.content-enl-forms-right {
    	float: right;
    	margin-right: -69%;
	}

	/*Button*/
	.iconbutton {
    	margin-left: 4px;
	}

	.btn-forms{
		margin-left: 51%;
	}

	.publishers >a{
		margin-left: 74%;
	}

	.content-btn-forms >a{
		margin-left: 41%;
	}

	.content-btn-forms >button{
		margin-left: 37%;
	}

	.btn-small {
    	margin-left: 145%;
    	margin-top: -85%;
	}

	/*Footer*/
	.color-footer {
    	height: 112px;
    	margin-left: -16px;
	}

	.footer-politic {
    	margin-left: 44%;
    	margin-top: 8%;
    	font-size: 9px;
	}

	.border-img-footer {
    	margin-top: 17px;
    	width: 28px;
    	height: 26px;
	}

	.sociales {
    	margin-right: -18px;
    	margin-left: 52px;
	}
}
