{% extends 'base/structure.html'%}
{% load staticfiles %}
{% block maxcdn %}
	<!--maxcdn-->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock %}
{% block css %}
<!--import materialize.css-->
<link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!--import playcode.css-->
<link rel="stylesheet" type="text/css" href="{% static 'css/playcode_min.css'%}">
<!-- javascript playcode -->
<script type="text/javascript" src="{% static 'javascript/playcode_min.js' %}"></script>
{% endblock %}
{% block toggle %}
{% endblock %}

{% block logo %}
<ul class="nav navbar-nav">
	<li>
		<a class="a-index" href="{% url 'playcode/index' %}">Inicio</a>
	</li>
</ul>
{% endblock %}
{% block head-page%}
{% endblock %}
{% block head-page2 %}
{% endblock %}
{% block enlproy%} 
{% endblock %}
{% block enlcom %}
{% endblock %}
{% block search %}
{% endblock %}
{% block sesion %}
{% endblock %}




{% block inicio %}

{% if user.is_authenticated %}

<p class="titles-forms"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></p>

<div class="div_nov">
	<p>Ya iniciaste sesion</p>
	<p>Deseas iniciar sesion con otra cuenta?</p>
	<a class="btn-forms" href="{% url 'logout' %}">Cerrar Sesion</a>
</div>

{% else %}
<p class="titles-forms"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></p>

<div class="center-contents">
	<form method="post" action="">

	{% csrf_token %}
	
		{% if form.errors %}
		<p class="errorSession"> El Usuario es incorrecto o la Contraseña es incorrecta </p>
		{% endif %}

		{% if messages %}
		<div class="div-alert">
			<ul>
				{% for message in messages %}
				<li {% if messages.tags %} class="{{ message.tags }}" {% endif %}>
					{% if message.level == DEFAULT_MESSAGE_LEVELS.ERRORS %} Importante: {% endif %}
					{{ message }}
				</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}

		<div class="row">
			<div class="input-field col s6">
				<input type="text" name="username" autocomplete="off">
				<label for="username">Usuario</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<input id="id_password" type="password" name="password">
				<label for="password">password</label>
				<a class="waves-effect waves-teal btn-small" onmousedown="reveal(this)" onmouseup="oculd(this)"><i class="small material-icons">remove_red_eye</i></a>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s6">
				<div class="content-enl-forms-left">
					<a class="enl-a" href="{% url 'password_reset' %}">Olvide mi Contraseña</a>
				</div>
				<div class="content-enl-forms-right">
					<a class="enl-a" href="{% url 'registry' %}">Registrarme</a>
				</div>
			</div>
		</div> 

		<div class="row">
			<div class="input-field col s6">
				<div class="content-btn-forms">
					<button class="btn-forms" type="submit">ingresar</button>
				</div>
			</div>
		</div>

	</form>
</div>

{% endif %}
<!--Scripts-->

<script>if (!window.jQuery) { document.write('<script src="bin/jquery-2.1.1.min.js"><\/script>'); }</script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>

{% endblock %}

{% block maxCDNjQuery%}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
{% endblock %}

{% block botmessenger %}
{% endblock %}
