{% extends 'base/structure.html'%}
{% load staticfiles %}
{% load to_raw %}
{% block maxcdn %}
	<!--maxcdn-->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock %}
{% block css %}
<!--import materialize.css-->
<link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
{% endblock %}

{% block logo %}
<ul class="nav navbar-nav">
	<li>
		<a href="{% url 'playcode/index'%}">Inicio</a>
	</li>
</ul>
{% endblock %}
{% block search %}
{% endblock %}

{% block inicio %}

{% if instance %}
<div class="block-content">
	<div class="section-list-novedad">
		<div class="details">
			<p class="p-developer">{{ instance.title }}</p>
			{% if instance.image %}
			<img class="img-dp" src="{{ instance.image|to_raw }}">
			{% else %}
			<img class="img-dp" src="{% static 'imagenes/logo.png'%}">
			{% endif %}
	
			<p class="p-developer">Fecha del proyecto: {{ instance.timestamp }}</p>
			<p class="p-developer">proyecto:</p>
			<a class="a-infofile" href="{{ instance.product }}"> <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span> </a>

			<p class="p-developer">{{ instance.developer|upper }}</p>
			<p class="p-developer">Redes Sociales</p>

			{% if "https" in instance.sociales.socialFacebook %}
				<a href="{{ instance.sociales.socialFacebook }}"><img class="img-enl" src="{% static 'iconos/Facebook.png'%}"></a>
			{% else %}
				<img class="img-enl" src="{% static 'iconos/noFacebook.png'%}">
			{% endif%}
			{% if "https" in instance.sociales.socialTwiter %}
				<a href="{{ instance.sociales.socialTwiter }}"><img class="img-enl" src="{% static 'iconos/Twitter.png'%}"></a>
			{% else %}
				<img class="img-enl" src="{% static 'iconos/noTwitter.png'%}">
			{% endif %}
			{% if "https" in instance.sociales.socialYoutube %}
				<a href="{{ instance.sociales.socialYoutube }}"><img class="img-enl" src="{% static 'iconos/Youtube.png'%}"></a>
			{% else %}
				<img class="img-enl" src="{% static 'iconos/noYoutube.png'%}">
			{% endif %}
			{% if "https" in instance.sociales.socialLinkedin %}
				<a href="{{ instance.sociales.socialLinkedin }}"><img class="img-enl" src="{% static 'iconos/Linkedin.png'%}"></a>
			{% else %}
				<img class="img-enl" src="{% static 'iconos/noLinkedin.png'%}">
			{% endif %}
			{% if "https" in instance.sociales.socialGoogle %}
				<a href="{{ instance.sociales.socialGoogle }}"><img class="img-enl" src="{% static 'iconos/Google.png'%}"></a>
			{% else %}
				<img class="img-enl" src="{% static 'iconos/noGoogle.png'%}">
			{% endif %}
		</div>
	</div>
	<div class="section-list-novedad">
		<div class="details">
			<p class="p-description">{{ instance.description }}</p>
		</div>
		<div class="publishers">
			<a class="waves-effect waves-light btn" href="{% url 'delete_proyect' %}?remove={{ instance.id|url_to_encode_project }}">Eliminar</a>
		</div>
	</div>
</div>
{% else %}
<div class="div_nov">
	<p>Error</p>
</div>
{% endif %}
<div class="space">
</div>
{% endblock %}

{% block maxCDNjQuery%}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
{% endblock %}

{% block botmessenger %}
{% endblock %}
